<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{common/fragments::head}">
  </head>
  <body class="history">
    <nav th:replace="~{common/fragments::nav}"></nav>

    <h1>История</h1>
    <section class="history-section">

      <p>
        Родът Денишеви, като мнозина други, беше свидетел на бурните събития,
        разгърнали се по време на войната. От ожесточените боеве при Кочани и
        Кукуш, през неизвестни пътеки на изгубените домове, семейството на поп
        Дионисий преживява промените на вековната история. Техният път към нов
        живот и създаването на дом в нова среда разкрива историята на упорство,
        надежда и семейна солидарност.
      </p>
      <div><img src="/images/6c408ff1-f3d9-4d33-84d9-703e26445701.jpg" alt="Dionisii"></div>
      <p>
        Този разказ проследява епопеята на Стоян Поп Денишев и неговото
        семейство, които, след опит за завръщане в родното село, се установяват
        в град Петрич. Тяхната история не е само лична, а история на едно
        поколение, което се изправя пред предизвикателствата на времето, пазейки
        паметта за родината и стремейки се да построи нов дом в новата си
        обстановка.
      </p>
      <p>
        Така, в този увлекателен разказ, ще се потопим в света на рода Денишеви,
        изследвайки техните трудности, радости и принос към обществото, което ги
        прие. Следвайки тяхната история, ще се разкрие пътят на едно семейство,
        което преодолява тежестите на миналото си и създава нова, стабилна
        обективност в сърцето на Петрич.
      </p>
      <p>
        През първите дни на войната, след ожесточените боеве при Кочани и Кукуш
        (Килкис) , българите бяха принудени да отстъпят на изток покрай
        Брегалница и на север покрай Струма. Сред тези, които се изправиха пред
        тежката реалност на променените обстоятелства, беше и семейството на поп
        Дионисий от село Долни Тодорак.
      </p>
      <div>
        <img src="/images/1b656e54-b3eb-481f-8e6f-fc5a9a69bce9.jpg" alt="karta">
      </div>
      <p>
        Поп Дионисий, заедно с четирите си деца и жена си, решава да напусне
        родното си село и да се отправи към България. На пътя си, те пристигат в
        пловдиското село Куклен, където решават да заселят. Село Долни Тодорак
        (Kato Theodoraki), разположено в планината Круша, остава зад гърба им,
        но надеждата за по-добро бъдеще ги води напред.
      </p>
      <p>
        Един от синовете на поп Дионисий, Стоян Поп Денишев, след кратко време
        решава да се върне към родните места. Заедно със семейството си, той
        тръгва към Петрич с надеждата да се прибере в дома си в Долни Тодорак.
        Обаче, те срещат само разрушени селища и пустинни улици. Решават да
        създадат нов дом в град Петрич, където започват нов живот, изграждайки
        своята съдба отново.
      </p>
      <p>
        Така започва историята на рода Денишеви в новите условия на мир и
        променен свят. С времето те влизат в сърцата на хората в Петрич,
        изграждайки традиции и превръщайки града в свой дом. Семейството събира
        силите си, запазвайки спомените за родните места и приносейки своя
        принос към обществото, което ги прие.
      </p>
    </section>
    <footer th:replace="~{common/fragments::footer}"></footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

  </body>
</html>
